:root {
    --mainEng-font: "DM Serif Display";
    --mainEng2-font: "Montserrat";
    --mainKor-font: "NanumSquareNeo";
    --mainNum-font: "GmarketSans";

    --mainBg-color: #D7C49E;
    --mainFont-color: #343148;
    --subBg100: #67628f;
    --subBg200: #4b4768;
    --subBg300: #343148;
    --subBg400: #292739;
    --subBg500: #211f2d;

    --white: #ffffff;
    --white100: #e5e5e5;
    --white200: #cecece;
    --white300: #ffffff;
    --white400: #ffffff;
    --white500: #ffffff;

    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    color: var(--black);
    background-color: var(--mainBg-color);
}